* {
    box-sizing: border-box;
    text-align: center;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.App {
    text-align: center;
}

.navBar {
    font-size: 30px
}

.gameLink {
    padding: 10px
}

.scoreboardLink {
    padding: 10px
}

.aboutUsLink {
    padding: 10px
}

.timerContainer {
    font-size: 50px
}

.backplateForClickMeButton {
    border: 5px double #1C6EA4;
}

.clickMeButton {
    border-radius: 50px;
    font-size: 100px
}

.counterText {
    font-size: 100px
}